doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title #{__('TITLE', community)}
    link(href="fonts/futura-face.css", rel="stylesheet", type="text/css")
    link(href="css/reset.css", rel="stylesheet", type="text/css")
    link(href="css/style.css", rel="stylesheet", type="text/css")
  body
    .section-wrapper#wrapper
      .center-section
        .header
          img(src="/images/logo_black.png").logo.logo--main
          h1.heading-h1.header__title #{"Tver.io"}
          h2.heading-h2 #{"Тверское IT-сообщество"}
      .center-section.center-section--content
        p.message(class=isFailed ? 'error' : '') !{message}
        p.message(class=isFailed ? 'error' : '') !{error.status}
        p.message(class=isFailed ? 'error' : '') !{error.stack}
      .center-section.center-section--footer
        .footer
          p.footer__copyright #{"© 2019 Tver.io"}
          .footer__separator
          .footer__links
            .a(href="http://tver.io/privacy").footer__link #{"Privacy policy"}
            .a(href="http://tver.io/terms").footer__link #{"Terms of use"}
